go 1.23.6

use (
	attach-container
	gin-ext
	k8s-dashboard
	karmada-apiserver
	karmada-proxy
	karmada-search
	kubernetes-dashboard
	log-viewer
	kubernetes-dashboard/common/certificates
	kubernetes-dashboard/common/client
	kubernetes-dashboard/common/csrf
	kubernetes-dashboard/common/errors
	kubernetes-dashboard/common/helpers
	kubernetes-dashboard/common/types

)
