VOLCENGINE_ACCESS_KEY_ID=
VOLCENGINE_SECRET_ACCESS_KEY=
VOLCENGINE_REGION=cn-beijing
VOLCENGINE_PROJECT_NAME=

ARK_API_KEY=

LITELLM_BASE_URL=http://192.168.16.13:4000
LITELLM_MASTER_KEY=
HTTP_TIMEOUT_SECONDS=30
